# Node
node_modules/

# Build output
.next/
dist/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Bun
bun.lockb
.bun/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Misc
.history/
